<header class="p-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 p-flex p-flex-align-center p-flex-jc-sb">
                    <ul>
                        <li *ngFor="let headerIndex of headersIndex$ | async">
                            <div *ngIf='headerIndex === "Projects"; else anotherHeader'>
                                <a [routerLink]="['/projects']" [routerLinkActive]="['is-active']">{{headerIndex}}</a>
                            </div>
                            <ng-template #anotherHeader>
                                <a [routerLink]="['/']" [routerLinkActive]="['is-active']">{{headerIndex}}</a>
                            </ng-template>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</header>
