<section>
    <div class="container">
        <div class="row" *ngFor="let portfolioItem of portfolioItems">
            <div class="p-rgt-sec">
                <div class="div-photo">
                    <img class="image-style" src="{{portfolioItem.image}}" alt="The portfolio image which you can choice" />
                </div>  
                <div class="portfolio-description">
                    <h1 class = "description-title">{{portfolioItem.title}}</h1>
                    <p class="p-des mb-2 mt-3">{{portfolioItem.description}}</p>
                    <a href="{{portfolioItem.link}}" target="_blank" class="btn btn-warning">Repository link</a>
                </div>  
            </div>
        </div>
    </div>
</section>
